{% extends 'images/base.html' %}

{% block content %}

<h1>Objavi svoju sliku</h1>

<form action="{% url 'images:create' %}" method="POST">
    {% csrf_token %}
    <label for=''>Title</label>
    <input type='text' name='title'> <br>
    <label for=''>Description</label>
    <input type='text' name='desc'> <br>
    <label for=''>Pub date</label>
    <input type='date' name='pub_date'> <br>
    <label for=''>URL</label>
    <input type='text' name='url'> <br>
    <input type='submit' value='Objavi sliku'> <br>
</form>

{% endblock content %}