<!DOCTYPE html>
<head>
    <title>Myimgur | {% block title %}hey{% endblock title%} </title>
</head>
<body>
    <div>
        <a href="/">MyImgur</a>
        <a href="/images/">Vidi sve slike!</a>
        <a href="/images/new">Dodaj sliku!</a>
    </div>
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>