{% extends 'images/base.html' %}

{% block title %}Homepage{% endblock title %}

{% block content %}
    <h1>Dobro došli!</h1>
    <h2>Imamo puno ({{ count }}) slika!</h2>
    <a href="/images"> Vidi sve slike </a>
{% endblock content %}
